# general
generated
intermediates
tmp
logs
.env.prod

# Visual Studio Code
/.vscode
/jsconfig.json

# Android
.idea
.gradle
local.properties
*.iml
*.keystore
android/app/build/
.classpath
*.apk
*.idea
local.properties
*.rawproto
.expo/
npm-debug.*

# Node
node_modules
*.log
.nvm

# OS X
.DS_Store
