node_modules/
.expo/
npm-debug.*
.gradle
generated
intermediates
tmp
logs
*.apk
*.idea
local.properties
*.rawproto
/.vscode
/jsconfig.json
android/app/build/
android/app/ello-android-release-key.keystore
android/app/app.iml
android/android.iml
android/Ello.iml
